@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

HTML {
  font-family: "Poppins";
    font-weight: 800;
}

body{
    font-family: "Poppins";
    font-weight: 800;
}

.fundo{
    background-image: url("wp2971717-music-graffiti-wallpapers.jpg");
}

#card-container {
  width: 500px;
  margin: 0 auto;
}

#logotipo-img {
width: 55px;
margin-left: 15px; 
margin-right: 15px; 
}

#mynavbar {
    color:white;
    font-family: "Poppins";
    font-weight: 800;
}

#title-idk{
    color: rgb(159, 0, 233);
}

.my-font-family {
    font-family: 'Open Sans', sans-serif;
}

.my-label-color-purple {
    color: #470864;
}

/* menu */
.my-color-purple {
    color: #470864 !important;
}

.my-bg-color-purple {
    background-color: #470864;
}

.my-bg-color-principal {
    background-color: rgb(231, 178, 153);
}

.navbar {
    font-size: 24px;
}

.navitem {
    color: #470864;
}

/* outros */
.my-h2 {
    font-size: 36px;
    font-weight: bold;
    color: #470864;
    border-bottom: 1px solid #470864;
}

.my-badge-vertical-align-super {
    vertical-align: super;
}

.meu-h5-font-size {
    font-size: 1.2em;
}

/* tabelas */
.my-table-hover tbody > tr:hover {
    background-color: #a1cc9c4f;
}

.my-table-image td {
    vertical-align: middle;
}

.my-table-td-first-child td:first-child {
    text-align: left;
}

.my-table-th th {
    font-size: 24px;
    color: #008080;
    background-color: rgb(249, 255, 206);
}

.my-border-bottom {
    border-bottom: 1px solid rgb(231, 10, 76);
}

.my-table-border-bottom tr {
    border-bottom: 1px solid rgb(214, 193,226);
}

/* define uma cor de borda e uma sombra para o card ativo pelo mouse */
.card:hover{
    border-color: #470864;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* define um conjunto de regras para subclasses */
.fonte-bold {
    font-weight: bold;
}

/* define cor para o icone utilizado no jumbotron */
.material-icons.stateblue { 
    color: #6A5ACD;
    vertical-align: bottom;
}

.copyright {
    font-size: .8rem;
}

.tooltip_sublinhado {
    text-decoration: underline;
}

.rating {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: rgb(238, 255, 0);
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px rgb(208, 255, 0);
  }

  .module-box {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  
  .module-dummy {
    margin-top: 100%;
  }
  
  .module-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .play-button-div {
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: inline-block;
  }
  
  .play-button-div:before {
    content: "\f01d";

    font-family: FontAwesome;
    color: #ffa600;
    background-color: #ffffff41;
    background: rgba(0,0,0,0.4);
    font-size: 20px;
    padding: .05em .2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  
  .play-button-div img {
    transition: opacity ease .5s;
  }
  
  .play-button-div:hover img {
    opacity: .6;
  }

  audio { width: 200px; height: 40px; display: block; margin:20px; }
  